.example-card {
  max-width: 400px !important;
  border: rgb(211, 211, 211) 1px solid;
  border-radius: 20px;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}
mat-card {
    display: inline;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.mat-icon {
  font-size: 30px;
}

.position {
  margin: 50px;
}

img {
 height: 250px;
}

h1 {
  margin: auto;
  position: absolute;
  font-size: 20px;
  text-align: center;
}
