<div class="wrapper contenedor position">
  <div *ngIf="carsToSale.length == 0">
    <h1>No hay autos que coincidan con la búsqueda</h1>
  </div>
  <mat-card *ngFor="let car of carsToSale" class="example-card">
    <mat-card-header>
      <mat-icon aria-hidden="false" mat-card-avatar>account_circle</mat-icon>
      <mat-card-title> {{car.Brand}} </mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="car.Img" alt="Car picture">
    <mat-card-content>
      <p>
        ACEPTA PERMUTA: {{getExchageMessage(car.Exchange)}}
      </p>
      <p>
        {{car.Description}}
      </p>
    </mat-card-content>
    <mat-card-actions *ngIf="user.UserRole != 0">
      <div *ngIf="car.Status === 0">
        <mat-icon aria-hidden="false" aria-label="Example home icon">done</mat-icon>
      </div>
      <div *ngIf="car.Status === 2">
        <button mat-button (click)="bookCar(car)">Reservar</button>
      </div>
    </mat-card-actions>
  </mat-card>

</div>