<div class="wrapper contenedor position">
    <mat-card *ngFor="let car of carsToSale" class="example-card">
            <mat-card-header>
              <mat-icon aria-hidden="false" mat-card-avatar>account_circle</mat-icon>
              <mat-card-title> {{car.Brand}} </mat-card-title>
            </mat-card-header>
            <img mat-card-image [src]="car.Img" alt="Car picture">
            <mat-card-actions *ngIf="user.UserRole != 0">
              <div *ngIf="car.Status === 0">
                <h4>Verificando veracidad de los datos...</h4>
              </div>
              <div *ngIf="car.Status === 3">
                <div *ngIf="!mostrarComprado">
                  <button style="width: 100%;margin-top: 60px;" (click)="mostrarComprado = !mostrarComprado" mat-raised-button (click)="buyCar(car)" color="primary">Comprar</button>
                </div>
                <div *ngIf="mostrarComprado">
                  La compra se ha realizado con exito Gracias por confiar en Kilmister.
                </div>
              </div>
              <div *ngIf="car.Status === 4">
                <div *ngIf="!mostrarMensajeCancelar && !mostrarMensajePagar">
            
                   <p>Tiene un plazo de 72hs para abonar el vehiculo..</p> 
             
                  <button  mat-raised-button style="width: 145px;" (click)="mostrarMensajeCancelar = !mostrarMensajeCancelar" color="primary"> Pagar parcialmente</button>
                  <button  mat-raised-button (click)="mostrarMensajePagar = !mostrarMensajePagar" color="primary"> Canecelar reserva </button>
                </div>
                <div *ngIf="mostrarMensajeCancelar">
                  Se ha abonado la mitad del vehiculo gracias por confiar en Kilmister!. Un gestor se pondra en contacto con usted.
                </div>
                <div *ngIf="mostrarMensajePagar">
                  Ha perdido el dinero de la reserva
                </div>
              </div>
        
            </mat-card-actions>
      </mat-card>
</div>
