
.order {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}


.size {
    height: 500px;
    width: 400px;
    display: inline-block;
}

div img {
    height: 200px;
    width: 200px;
    margin: auto;
    display: block;
}


.position {
  height: 800px;
  width: 100px;
}

.button {
    width: 100%;
    height: 50px;
    margin-top: 5px;
}

