<div class="size">
    <ng-container *ngIf="reserved; else pressedReserve">
        <h1>Reservando...</h1>
        <img mat-card-image style="border-radius: 8px;" [src]="data.car.Img" alt="Picture of Car">
        <h2 style="margin-top: 50px;" mat-dialog-title>Estamos verificando que los datos de la compra sean veridicos por su seguridad. Le informaremos los resultados en las proximas 48 horas hábiles.</h2>
        <h2 style="margin-top: 40px;" mat-dialog-title>Se han descontando $10,000.00 de su cuenta.</h2>
        <button mat-raised-button color="primary" class="button" color="primary" (click)="closeDialog(true)">Volver</button>
    </ng-container>
    <ng-template #pressedReserve>
        <h1 mat-dialog-title>Reservar Automovil</h1>
        <h3>Vendedor: {{randomSellers[data.random]}}</h3>
        <img mat-card-image [src]="data.car.Img" alt="Picture of Car">
        <h3>Descripcion</h3>
        <p>{{data.car.Description}}</p>
        <h3>Valor del automovil: {{randomPrices[data.random] | currency:'USD' }}</h3>

        <div mat-dialog-actions class="order">
            <button mat-button (click)="showConfirmation()">Reservar</button>
            <button mat-button (click)="closeDialog(false)">Volver</button>
        </div>
    </ng-template>

</div>