<mat-toolbar color="primary">
    <h1> Kilmister</h1>
    <span class="example-spacer"></span>
    <form class="example-form">
        <mat-form-field class="example-full-width">
            <mat-label>Buscar un Automovil</mat-label>
            <input matInput #filter autocomplete="off" placeholder="Buscar un Automovil">
            <span class="example-spacer"></span>
            <button mat-icon-button (click)="doFiltering(filter.value)">
                <mat-icon>search</mat-icon>
            </button>
        </mat-form-field>
    </form>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>


</mat-toolbar>
<mat-toolbar color="primary">

    <span class="example-spacer"></span>
    <button mat-button routerLink="search-booked"> Mis reservas</button>
    <button mat-button routerLink="search"> Vista general</button>
    <button mat-button routerLink="/">
        <mat-icon class="iconSize" >person</mat-icon>
        <mat-label>
            {{user.Name}}
        </mat-label>
    </button>

    <span class="example-spacer"></span>
</mat-toolbar>