.example-spacer {
    flex: 1 1 auto;
}

.example-form {
    width: 60%;
  }
  
  .example-full-width {
    width: 100%;
  }

.size {
    height: 30px;
    width: 80px;
}

.iconSize {
  font-size: 150%
}

.select {
  width: 60px;
}
