<body>
    <div class="registry">
        <mat-spinner class="spinner" diameter="80" *ngIf="loading"></mat-spinner>
        <form *ngIf="!loading" [formGroup]="form" (ngSubmit)="doRegistry()">

            <mat-grid-list cols="2" rowHeight="4:1">

                <mat-grid-tile colspan="2">
                    <h1>Registrate</h1>
                </mat-grid-tile>

                <mat-grid-tile colspan="1">
                    <mat-form-field class="ancho" >
                        <mat-label>Nombre</mat-label>
                        <input matInput (ngModelChange)="changed()" type="text" autocomplete="off"
                            formControlName="name" [placeholder]="setPlaceHolder('name', 0)">
                        <mat-icon matSuffix>perm_identity</mat-icon>
                        <mat-error> Campo obligatorio</mat-error>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile colspan="1">
                    <mat-form-field class="ancho" >
                        <mat-label>Apellido</mat-label>
                        <input matInput (ngModelChange)="changed()" type="text" autocomplete="off"
                            formControlName="surname" [placeholder]="setPlaceHolder('surname', 1)">
                            <mat-icon matSuffix>perm_identity</mat-icon>
                            <mat-error> Campo obligatorio</mat-error>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-form-field class="ancho" >
                        <mat-label>Email</mat-label>
                        <input matInput (ngModelChange)="changed()" type="text" autocomplete="off"
                            formControlName="email" [placeholder]="setPlaceHolder('email', 5)">
                            <mat-icon matSuffix>mail_outline</mat-icon>
                            <mat-error> Campo obligatorio</mat-error>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-form-field class="ancho">
                        <mat-label>Contraseña</mat-label>
                        <input matInput (ngModelChange)="changed()" type="password" autocomplete="off"
                            formControlName="password" [placeholder]="setPlaceHolder('password', 6)">
                            <mat-icon matSuffix>lock</mat-icon>
                            <mat-error> Campo obligatorio</mat-error>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-form-field class="ancho" color="accent" >
                        <mat-label>Fecha de nacimiento</mat-label>
                        <input matInput [matDatepicker]="picker2" formControlName="bornDate" [placeholder]="setPlaceHolder('bornDate', 4)">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2 color="primary"></mat-datepicker>
                        <mat-error> Campo obligatorio</mat-error>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-form-field class="ancho" >
                        <mat-label>DNI</mat-label>
                        <input matInput (ngModelChange)="changed()" type="text" autocomplete="off"
                            formControlName="dni" [placeholder]="setPlaceHolder('dni', 3)">
                            <mat-icon matSuffix>fingerprint</mat-icon>
                            <mat-error> Campo obligatorio</mat-error>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-form-field class="ancho" >
                        <mat-label>Tipo de Usuario</mat-label>
                        <mat-select formControlName="userRole">
                            <mat-option *ngFor="let role of roles" [value]="role">
                                {{role}}
                            </mat-option>
                        </mat-select>
                        <mat-error> Campo obligatorio</mat-error>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-form-field class="ancho" >
                        <mat-label>Forma de Pago/Cobro</mat-label>
                        <mat-select formControlName="paymentMethod" (selectionChange)="openDialog($event.value);changed();">
                            <mat-option *ngFor="let method of paymentMethods" [value]="method.position">
                                {{method.Name}}
                            </mat-option>
                        </mat-select>
                        <mat-error> Campo obligatorio</mat-error>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile *ngIf= "showField">
                    <mat-form-field class="ancho" color="accent" appearance="fill">
                        <mat-label>Titular</mat-label>
                        <mat-icon matSuffix>person</mat-icon>
                        <input matInput formControlName="owner">
                    </mat-form-field>
                </mat-grid-tile>

            </mat-grid-list>
            <mat-grid-list cols="3" rowHeight="3:1">

                <mat-grid-tile>
                    <mat-form-field class="address">
                        <mat-label>Calle</mat-label>
                        <input matInput (ngModelChange)="changed()" type="text" autocomplete="off"
                            formControlName="street" [placeholder]="setPlaceHolder('street', 8)">
                            <mat-icon matSuffix>add_road</mat-icon>
                            <mat-error> Campo obligatorio</mat-error>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-form-field class="address" >
                        <mat-label>Altura</mat-label>
                        <input matInput (ngModelChange)="changed()" type="text" autocomplete="off"
                            formControlName="addessNumber" [placeholder]="setPlaceHolder('addessNumber', 9)">
                            <mat-icon matSuffix>location_on</mat-icon>
                            <mat-error> Campo obligatorio</mat-error>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-form-field class="address">
                        <mat-label>Localidad</mat-label>
                        <input matInput (ngModelChange)="changed()" type="text" autocomplete="off"
                            formControlName="location" [placeholder]="setPlaceHolder('location', 10)">
                            <mat-icon matSuffix>location_city</mat-icon>
                            <mat-error> Campo obligatorio</mat-error>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile colspan="3">
                    <button type="submit" mat-raised-button color="primary" class="button"
                        [disabled]="form.invalid" (click)="doRegistry()">Registrarse
                    </button>
                    <button type="submit" mat-raised-button color="primary" class="button" routerLink="/">
                        Volver
                    </button>
                </mat-grid-tile>

            </mat-grid-list>
        </form>
    </div>
</body>
