body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  height: 100%;
  flex-direction: column;
}

.registry {
  width: 100%;
  max-width: 900px;
  height: 800px;
  text-align: center;
  border: rgb(211, 211, 211) 1px solid;
  border-radius: 20px;
  padding-top: 19px;
}

.button {
  padding: 12px;
  margin: 20px;
  width: 600px;
}

.ancho {
  width: 90%;
}

.address {
  width: 84%;
}



