<mat-dialog-content class="size">

    <form [formGroup]="form" class="order">

        <h1>Registra Tu Cuenta Bancaria</h1>

        <mat-form-field class="ancho" color="accent" appearance="fill">
            <mat-label>Titular</mat-label>
            <mat-icon matSuffix>person</mat-icon>
            <input matInput formControlName="owner">
        </mat-form-field>

        <mat-form-field class="ancho" color="accent" appearance="fill">
            <mat-label>CUIL</mat-label>
            <input matInput type="number" formControlName="cuil">
            <mat-icon matSuffix>person_pin</mat-icon>
        </mat-form-field>

        <mat-form-field class="ancho" color="accent" appearance="fill">
            <mat-label>CBU</mat-label>
            <input matInput type="number" formControlName="cbu">
            <mat-icon matSuffix>account_balance</mat-icon>
        </mat-form-field>

        <mat-dialog-actions class="ancho">
            <button type="submit" mat-raised-button color="primary" class="button" [disabled]="form.invalid" (click)="closeDialog()">
                Registrar
            </button>

            <button mat-raised-button color="primary" class="button" (click)="closeDialog(true)">
                Volver
            </button>
        </mat-dialog-actions>


    </form>

</mat-dialog-content>