.body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  height: 100%;
  flex-direction: column;
}

.login {
  width: 100%;
  max-width: 400px;
  height: 550px;
  text-align: center;
  border: rgb(211, 211, 211) 1px solid;
  border-radius: 20px;
  padding-top: 19px;
}
.navigate {
  margin-top: 20px;
  width: 400px;
  height: 100px;
  align-items: center !important;
  border: rgb(211, 211, 211) 1px solid;
  border-radius: 20px;
  padding: auto;
}

.ancho {
  width: 80%;
}

.navButton {
  left: 41px;
  margin-top: 25px;
}

.button {
  height: 50px;
}

.spinner {
  left: 165px;
  top: 220px;
}
.mat-icon {
  font-size: 90px;
  display: block;
}
