<div class="body">
    <div class="login">
        <mat-spinner class="spinner" diameter="80" *ngIf="loading"></mat-spinner>
        <form *ngIf="!loading" [formGroup]="form" (ngSubmit)="login()">
                <img src="./assets/img/profile.png" alt="" width="50%">
                <h1>Login</h1>
                   
            
                <mat-form-field class="ancho" appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput (ngModelChange)="changed()" type="text" autocomplete="off" formControlName="email">
                </mat-form-field>
    
                <mat-form-field class="ancho" appearance="fill">
                    <mat-label>Contraseña</mat-label>
                    <input matInput (ngModelChange)="changed()" type="password" autocomplete="off" formControlName="password">
                </mat-form-field>
    
                <br>
                <mat-error *ngIf="showError">Email o contraseña son incorrectos</mat-error>
                <button type="submit" mat-raised-button color="primary" class="ancho button"
                    >Ingresar</button>

                <div>
                    ¿Aun no tiene una cuenta? <a routerLink="/registry">Registrate</a>
                </div>

        </form>

    </div>

    <!--
        <div class="navigate">
        <button mat-raised-button color="primary" class="ancho button navButton" > Navegar sin registrase </button>
    </div>
     -->

</div>