<mat-dialog-content class="size">

    <form [formGroup]="form" class="order">

        <h1>Registra Tu Tarjeta de Crédito</h1>

        <mat-form-field class="ancho" color="accent" appearance="fill">
            <mat-label>Numero</mat-label>
            <mat-icon matSuffix>credit_score</mat-icon>
            <input matInput type="number" formControlName="number">
        </mat-form-field>

        <mat-form-field class="ancho" color="accent" appearance="fill">
            <mat-label>Fecha de vencimiento</mat-label>
            <input matInput [matDatepicker]="picker2" formControlName="expirationDate">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2 color="primary"></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="ancho" color="accent" appearance="fill">
            <mat-label>Código de seguridad</mat-label>
            <input matInput type="number" formControlName="securityCode">
            <mat-icon matSuffix>account_balance</mat-icon>
        </mat-form-field>

        <mat-dialog-actions class="ancho">
            <button type="submit" mat-raised-button color="primary" class="button" [disabled]="form.invalid" (click)="closeDialog()">
                Registrar
            </button>

            <button mat-raised-button color="primary" class="button" (click)="closeDialog(true)">
                Volver
            </button>
        </mat-dialog-actions>


    </form>

</mat-dialog-content>