.size {
    height: 300px;
    width: 600px;
}

.order {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
}

.ancho {
  width: 100%;
}

.button {
  width: 100%;
  height: 100%;
}

mat-dialog-actions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}
