<mat-dialog-content class="size">
    <form [formGroup]="form" class="order">

        <h1>Registra Tu Cuenta Mercado Pago</h1>

        <mat-form-field class="ancho" color="accent" appearance="fill">
            <mat-label>Titular Mercado Pago</mat-label>
            <mat-icon matSuffix>person</mat-icon>
            <input matInput formControlName="user">
        </mat-form-field>

        <mat-dialog-actions class="ancho">
            <button type="submit" mat-raised-button color="primary" class="button" [disabled]="form.invalid" (click)="closeDialog()">
                Registrar
            </button>

            <button mat-raised-button color="primary" class="button" (click)="closeDialog(true)">
                Volver
            </button>
        </mat-dialog-actions>

    </form>
</mat-dialog-content>

